        <%- include('partials/header'); %>
            <img id="bg-image" src="img/trianglify-bg.png">            
            <div class="ui center aligned splash sizer inverted segment">
                <i id="star-left" class="large star outline loading icon"></i>
                <div class="splash-text">
                    <h1 class="ui huge inverted header">HILIGHT</h1>
                    <p>Share noteworthy content about your favorite shows.</p>
                </div>
                <i id="star-right" class="large star outline loading icon"></i>
                <a href="/shows" class="ui huge primary button">View Shows</a>
            </div>
        </main>
        <script>
            $('.ui.dropdown').dropdown({
            action: 'hide'
            });
        </script>
    <%- include('partials/footer') %>