        <%- include('partials/header'); %>
            <video id="bg-video" muted autoplay loop>
                <source src="videos/k-on-clips-short.mp4">
            </video>
            <div id="dot-overlay"></div>
            <div class="ui center aligned splash sizer inverted segment">
                <i id="star-left" class="large star outline loading icon"></i>
                <div class="splash-text">
                    <h1 class="ui huge inverted header">MOE MOE CLUB</h1>
                    <p>Moe made easy.</p>
                </div>
                <i id="star-right" class="large star outline loading icon"></i>
                <a href="/shows" class="ui huge primary button">View Shows</a>
            </div>
        </main>
        <script>
            $('.ui.dropdown').dropdown({
            action: 'hide'
            });
        </script>
    <%- include('partials/footer') %>