<!-- Login! -->
        <%- include('partials/header') %>
            <div class="ui center aligned inverted vertical very padded segment masthead">
                <h1 class="ui inverted header">Sign Up</h1>
            </div>
            <div class="ui vertical very padded segment container">
                <form class="ui form" action="/login" method="POST">
                    <h2 class="ui dividing header">User Information</h2>
                        <div class="field">
                            <label for="input-username">Username</label>
                            <input id="input-username" type="text" name="username" required>
                        </div>
                        <div class="field">
                            <label for="input-password">Password</label>
                            <input id="input-password" type="password" name="password" required>
                        </div>
                        <input class="ui primary large fluid button" type="submit" value="Log In">
                </form>
            </div> <!--/container-->
        </main>
        <script>
            $('.ui.dropdown').dropdown({
                action: 'hide'
            });
        </script>
    <%- include('partials/footer') %>